		.texto_padrao{
		
			font-family:Arial, Helvetica, sans-serif;
			font-size:16px;
			color:#666;	
			
		}
		
		.formulario{
		
			font-family:Arial, Helvetica, sans-serif;
			font-size:24px;
			color:#666;	
			width:100%;
			border-radius:0.3em;
			border:#CCC solid 1px;
			
		}